.container-cat-common {
    width: 100vw;
    min-width: 1400px;
    overflow: hidden;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-cat-common-content {
    width: 1400px;
    height: 100%;
}

.shadow {
    box-shadow: 0 4px 10px rgba(204, 204, 204, 0.5);
}

.img-block {
    display: block;
    width: 100%;
    height: 100%;
}

.bg-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.common-h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
.common-h1 {
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
}

.flex,
.flexCenter,
.flexBetween {
    display: flex;
    align-items: center;
}

.flexCenter {
    justify-content: center;
}

.flexBetween {
    justify-content: space-between;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.disable {
    overflow: hidden;
}
