.shadow {
    box-shadow: 0 4px 10px rgba(204, 204, 204, 0.5);
}

.img-block {
    display: block;
    width: 100%;
    height: 100%;
}

.bg-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.common-h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
.common-h1 {
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
}

.flex,
.flexCenter,
.flexBetween {
    display: flex;
    align-items: center;
}

.flexCenter {
    justify-content: center;
}

.flexBetween {
    justify-content: space-between;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.disable {
    overflow: hidden;
}

.box-twitter {
    width: 20px;
    height: 20px;
    background: url(../img/common/icon-twitter.png) no-repeat center / 100% auto;
    margin-right: 4px;
    display: inline-block;
}
.el-icon-loading {
    width: 45px;
    height: 45px;
    background: url(../img/common/logo.gif) no-repeat center / 100% 100%;
    animation: none;
}
.el-icon-loading::before {
    display: none;
}

.btn-back-v2 {
    height: 16px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../img/common/img-back.png);
    background-size: auto 100%;
    margin-left: 45px;
    padding-left: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #545356;
    line-height: 16px;
    cursor: pointer;
}

.animate__animated {
    opacity: 0;
    transition: all .3s;
}
.animate__fadeInUp {
    opacity: 1;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 2px;
  height: 0.5px;
  background-color: transparent;
  border-radius: 40px;
  overflow: hidden;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  border-radius: 40px;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.1);
  background-color: rgba(22, 22, 31, 0);
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 40px;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.1);
  background-color: rgba(170, 170, 170, 0);
}