$colorMain: #77e1fd;
$fontColor-1: #2c3e50;
$fontColor-2: #fff;
$fontColor-3: #110f19;

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexCenter {
    @include flex;
    justify-content: center;
}

@mixin flexBetween {
    @include flex;
    justify-content: space-between;
}

@mixin bg-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin btn-common {
    background: $colorMain;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #110f19;
    cursor: pointer;
    @include flexCenter;
}

@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container-cat-common {
    width: 100vw;
    min-width: 1000px;
    overflow: hidden;
    @include flexCenter;
}
.container-cat-common-content {
    @extend .common-pc-width;
    height: 100%;
}

.modal-common {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba($color: #000000, $alpha: 0.5);
    @include flexCenter;

    main {
        width: 1000px;
        height: 700px;
        background: #110f19;
        border-radius: 12px;
    }
}

.modal-common-app {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba($color: #000000, $alpha: 0.9);
    @include flexCenter;

    main {
        width: 90%;
        height: 90%;
        background: #110f19;
        border-radius: 12px;
    }
}

.cat-sell-label {
    @include flex;
    line-height: 20px;
    font-size: 24px;
    font-weight: 400;
    color: #61616b;
    letter-spacing: -1.3px;
}

.box-cat-sell-input {
    padding: 0 23px 0 19px;

    .van-cell__value {
        @include flex;

        .van-field__control {
            font-size: 24px;
            font-weight: 400;
            color: #ffffff;
            letter-spacing: -1.3px;
        }
    }
}

.container-myCat-app {
    .cat-sell-label {
        line-height: 16px;
        font-size: 13px;
        letter-spacing: -1px;
    }

    .box-cat-sell-input {
        padding: 0 26px 0 11px;

        .van-field__control {
            line-height: 16px;
            font-size: 16px;
        }
    }
}

.el-loading-spinner i {
    color: $colorMain;
    font-size: 30px;
}

.commonToast-1 {
    background-color: #fff;
    color: #110f19;
    font-size: 14px;
    max-width: 325px;
    padding: 14px 20px;
    box-sizing: border-box;
}
.commonToast-2 {
    width: auto;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 1);
    padding: 14px 20px;
}
.van-toast {
    @extend .commonToast-2;
}

.popper-coming {
    width: 150px;
    height: 40px;
    background: #292732 !important;
    border-radius: 8px;
    font-size: 16px;
    font-family: Myriad Pro;
    font-weight: 400;
    color: #9f9fa3 !important;
    padding: 0;
    @include flexCenter;

    .popper__arrow::after {
        border-bottom-color: #292732 !important;
    }
}

.common-pc-width {
    min-width: 1000px;
    width: calc(100vw - 240px);
}
.section-nftList-pc {
    grid-template-columns: repeat(5, minmax(0px, 1fr));
}

@media screen and (max-width: 1199px) {
    .common-pc-width {
        min-width: 800px;
        width: calc(100vw - 50px);
    }
    .container-cat-common {
        width: 100vw;
        min-width: 850px;
        overflow: hidden;
        @include flexCenter;
    }
    #app {
        min-width: 850px;
    }
    .section-nftList-pc {
        grid-template-columns: repeat(4, minmax(0px, 1fr));
    }
}

.box-test-transfer {
    position: fixed;
    left: 0;
    top: 0;
    width: 400px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    color: #000;
    z-index: 999;

    .btn-test {
        @include btn-common;
        font-size: 14px;
        height: 40px;
    }

    input {
        border: 1px solid #000;
    }
}
.box-display {
    .box-cat-item {
        height: 100%;
        // width: 300px;

        main {
            height: 100%;
        }

        img {
            height: 100% !important;
            width: auto !important;
        }
    }
}

.btn-share-twitter {
    border: none;
    padding:  10px 18px;
    width: 100%;

    > span {
        @include flexCenter;

        i {
            margin-right: 10px;
        }
    }
}
